# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
.venv/
pip-wheel-metadata/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Logs / Databases / Caches
*.log
*.sqlite3
*.db

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# WSL / system files
*.swp
*.swo
*~
